<div class={{theme}}>
  <div #explorer id="explorer">

    <canvas #fractal id="fractal" (window:resize)="windowResized()" (mousedown)="startDrag($event)" (mouseup)="endDrag($event)" (mousemove)="mouseMove($event)" (mouseleave)="endDrag($event)" (wheel)="wheel($event)" (touchstart)="touchStartDrag($event)" (touchmove)="touchMove($event)" (touchend)="touchEndDrag($event)">
    </canvas>

    <div #iterationControls class="controls top-left">
      <div class="btn-group" data-toggle="buttons">
        <a (touchstart)="startChangingIterations(0.95)" (touchend)="stopChangingIterations()" (mousedown)='startChangingIterations(0.9)' (mouseup)="stopChangingIterations()" (mouseleave)='stopChangingIterations()' class="btn">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
        <input class="iteration-textbox" [(ngModel)]="iterations" (ngModelChange)="iterationsChanged()" type="number" min="1" value="85">
        <a (touchstart)="startChangingIterations(1.05)" (touchend)="stopChangingIterations()" (mousedown)='startChangingIterations(1.1)' (mouseup)="stopChangingIterations()" (mouseleave)='stopChangingIterations()' class="btn">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div #colorControls class="controls top-right">
      <a (click)="toggleColourMenu($event)" class="btn pop-out">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>

      <div class="slidecontainer">
        <select #colourSelect id="colour-select" (change)="onColorChanged($event)">
          <option value={{colorBW}}>B/W</option>
          <option value={{colorRainbow}}>Rainbow</option>
          <option value={{colorBlueGold}}>Blue/Gold</option>
        </select>
        <div id="select-caret-down">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <a (click)="openGradientBuilder()" class="btn">Editor</a>
        <!-- <input [(ngModel)]="gradientPhase" (ngModelChange)="gradientPhaseChange()" type="range" min="0" max="100" value="0" class="slider" id="gradient-phase">
        <input [(ngModel)]="gradientFreq" (ngModelChange)="gradientFreqChange()" type="range" min="1" max="6" value="1" class="slider" id="gradient-freq">
       -->
      </div>
    </div>



    <div class="controls bottom-right">
      <div #zoomControls class="btn-group-vertical" data-toggle="buttons">
        <a (click)="zoomInClick($event)" class="btn">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a (click)="zoomOutClick($event)" class="btn">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
      </div>

      <a #fullScreenControls (click)="toggelFullScreen()" class="btn">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
      </a>
      <a (click)="toggelEye()" class="btn eye">
        <i #eyeControls class="fa fa-eye-slash" aria-hidden="true"></i>
      </a>

    </div>

    <div #alert class="alert center" (wheel)="$event.preventDefault()">
      <h4>Alert</h4>
      <p>{{alertText}}</p>
      <a (click)="closeAlert($event)" class="btn">
        Ok
        <i class="fa fa-check" aria-hidden="true"></i>
      </a>
    </div>

    <div #gradientBuilder class="gradient-builder center" (wheel)="$event.preventDefault()">
      <a (click)="closeGradientBuilder()" class="btn">Close</a>
      <app-gradientbuilder #appGradientBuilder > </app-gradientbuilder>
    </div>


  </div>
</div>