#stop-markers {
    height: 20px;
    width: 100%;
    background-color: grey;
    margin: auto;
    position: relative;
    cursor: cell;
}

#gradient-display {
    height: 60px;
    width: 100%;
    background-color: black;
    margin: auto;
}
