#marker{
    height:16px;
    width: 16px;
    position: absolute;
    cursor: no-drop;
    pointer-events: all;
    left: 50px;
    top:0px;
    background-color: black;
    border-radius: 50px;
    border-style: inset;
    border: dotted;
    border-width: 0px;
    border-color: black;    
}